

<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
</style>
<ion-toolbar color="warning">
  <ion-buttons collapse="true" slot="end">
    <ion-button (click)="abrirHome()">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true" color="warning" id="corpo">
  <p>Alguma dúvida?
    <br>
    Assista ao vídeo abaixo</p>
  
    <video id="video" controls src="/src/assets/images/video.mp4" type="video/mp4"></video>

</ion-content>